## ML Lab Week3 by Smeet 200968236
### Excercise 2

In [1]:
import pandas as pd
import numpy as np
import sklearn
import seaborn as sns
import random
import string
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
df =  pd.read_csv("Womens Clothing E-Commerce Reviews.csv")
df

,Unnamed: 0,Clothing ID,Age,Title,Review Text,Rating,Positive Feedback Count,Division Name,Department Name,Category,Recommended IND
0,0,767,33,NaN,Absolutely wonderful - silky and sexy and comf...,4,0,Initmates,Intimate,Intimates,1
1,1,1080,34,NaN,Love this dress! it's sooo pretty. i happene...,5,4,General,Dresses,Dresses,1
2,2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,General,Dresses,Dresses,0
3,3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,0,General Petite,Bottoms,Pants,1
4,4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,6,General,Tops,Blouses,1
...,...,...,...,...,...,...,...,...,...,...,...
23481,23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,0,General Petite,Dresses,Dresses,1
23482,23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,0,General Petite,Tops,Knits,1
23483,23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,1,General Petite,Dresses,Dresses,0
23484,23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,2,General,Dresses,Dresses,1
23485,23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,22,General Petite,Dresses,Dresses,1

### Q5] Preprocessing

In [3]:
df.isnull().sum()

Unnamed: 0                    0
Clothing ID                   0
Age                           0
Title                      3810
Review Text                 845
Rating                        0
Positive Feedback Count       0
Division Name                14
Department Name              14
Category                     14
Recommended IND               0
dtype: int64

In [4]:
df.dropna(inplace=True)
df.isnull().sum()

Unnamed: 0                 0
Clothing ID                0
Age                        0
Title                      0
Review Text                0
Rating                     0
Positive Feedback Count    0
Division Name              0
Department Name            0
Category                   0
Recommended IND            0
dtype: int64

In [5]:
df = df[['Clothing ID', 'Age', 'Title', 'Review Text', 'Rating',
       'Positive Feedback Count', 'Division Name', 'Department Name',
       'Category', 'Recommended IND']]
df

,Clothing ID,Age,Title,Review Text,Rating,Positive Feedback Count,Division Name,Department Name,Category,Recommended IND
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,General,Dresses,Dresses,0
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,0,General Petite,Bottoms,Pants,1
4,847,47,Flattering shirt,This shirt is very flattering to all due to th...,5,6,General,Tops,Blouses,1
5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,4,General,Dresses,Dresses,0
6,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,General Petite,Tops,Knits,1
...,...,...,...,...,...,...,...,...,...,...
23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,0,General Petite,Dresses,Dresses,1
23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,0,General Petite,Tops,Knits,1
23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,1,General Petite,Dresses,Dresses,0
23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,2,General,Dresses,Dresses,1
23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,22,General Petite,Dresses,Dresses,1

In [6]:
reviewCount = df['Clothing ID'].value_counts().rename_axis('ID').reset_index(name='Counts')
reviewCount

        ID  Counts
0     1078     871
1      862     658
2     1094     651
3     1081     487
4      829     452
...    ...     ...
1090   887       1
1091    48       1
1092  1127       1
1093  1143       1
1094  1199       1

[1095 rows x 2 columns]

In [7]:
reviewCount.loc[reviewCount.Counts>=5]

       ID  Counts
0    1078     871
1     862     658
2    1094     651
3    1081     487
4     829     452
..    ...     ...
330   717       5
331  1193       5
332   954       5
333   127       5
334   167       5

[335 rows x 2 columns]

In [8]:

l5 = reviewCount.loc[reviewCount.Counts<5,'ID']
df1 = df[df["Clothing ID"].isin(l5)==False]
df1

,Clothing ID,Age,Title,Review Text,Rating,Positive Feedback Count,Division Name,Department Name,Category,Recommended IND
2,1077,60,Some major design flaws,I had such high hopes for this dress and reall...,3,0,General,Dresses,Dresses,0
3,1049,50,My favorite buy!,"I love, love, love this jumpsuit. it's fun, fl...",5,0,General Petite,Bottoms,Pants,1
5,1080,49,Not for the very petite,"I love tracy reese dresses, but this one is no...",2,4,General,Dresses,Dresses,0
6,858,39,Cagrcoal shimmer fun,I aded this in my basket at hte last mintue to...,5,1,General Petite,Tops,Knits,1
7,858,39,"Shimmer, surprisingly goes with lots","I ordered this in carbon for store pick up, an...",4,4,General Petite,Tops,Knits,1
...,...,...,...,...,...,...,...,...,...,...
23481,1104,34,Great dress for many occasions,I was very happy to snag this dress at such a ...,5,0,General Petite,Dresses,Dresses,1
23482,862,48,Wish it was made of cotton,"It reminds me of maternity clothes. soft, stre...",3,0,General Petite,Tops,Knits,1
23483,1104,31,"Cute, but see through","This fit well, but the top was very see throug...",3,1,General Petite,Dresses,Dresses,0
23484,1084,28,"Very cute dress, perfect for summer parties an...",I bought this dress for a wedding i have this ...,3,2,General,Dresses,Dresses,1
23485,1104,52,Please make more like this one!,This dress in a lovely platinum is feminine an...,5,22,General Petite,Dresses,Dresses,1

In [9]:
contractions = {
"a'ight":"alright",
"ain't":"are not",
"amn't":"am not",
"aren't":"are not",
"can't":"cannot",
"'cause": "because",
"could've":"could have",
"couldn't":"could not",
"couldn't've":"could not have",
"daren't":"dare not",
"daresn't":"dare not",
"dasn't":"dare not",
"didn't":"did not",
"doesn't":"does not",
"don't":"do not",
"everybody's":"everybody is",
"everyone's":"everyone is",
"giv'n":"given",
"gonna":"going to",
"gon't":"go not", 
"gotta":"got to",
"hadn't":"had not",
"had've":"had have",
"hasn't":"has not",
"haven't":"have not",
"he'd":"he had", 
"he'll":"he will",
"he's":"he is",
"here's":"here is",
"how'd":"how did",
"how'll":"how will",
"how're":"how are",
"how's":"how is",
"I'd":"I had",
"I'd've":"I would have",
"I'd'nt":"I would not",
"I'd'nt've":"I would not have",
"I'll":"I will",
"I'm":"I am",
"I've":"I have",
"isn't":"is not",
"it'd":"it would",
"it'll":"it will",
"it's":"it is",
"let's":"let us",
"ma'am":"madam",
"mayn't":"may not",
"may've":"may have",
"mightn't":"might not",
"might've":"might have",
"mustn't":"must not",
"mustn't've":"must not have",
"must've":"must have",
"needn't":"need not",
"needn't've":"need not have",
"o'clock":"of the clock",
"oughtn't":"ought not",
"oughtn't've":"ought not have",
"shan't":"shall not",
"she'd":"she would",
"she'll":"she will",
"she's":"she is",
"should've":"should have",
"shouldn't":"should not",
"shouldn't've":"should not have",
"somebody's":"somebody is",
"someone's":"someone is",
"something's":"something is",
"so're":"so are",
"soâ€™s":"so is",
"soâ€™ve":"so have",
"that'll":"that will",
"that're":"that are",
"that's":"that is",
"that'd":"that would",
"there'd":"there would",
"there'll":"there will",
"there're":"there are",
"there's":"there is",
"these're":"these are",
"these've":"these have",
"they'd":"they would",
"they'll":"they will",
"they're":"they are",
"they've":"they have",
"this's":"this is",
"those're":"those are",
"those've":"those have",
"to've":"to have",
"wasn't":"was not",
"we'd":"we would",
"we'd've":"we would have",
"we'll":"we will",
"we're":"we are",
"we've":"we have",
"weren't":"were not",
"what'd":"what did",
"what'll":"what will",
"what're":"what are",
"what's":"what is",
"what've":"what have",
"when's":"when is",
"where'd":"where did",
"where'll":"where will",
"where're":"where are",
"where's":"where is",
"where've":"where have",
"which'd":"which would",
"which'll":"which will",
"which're":"which are",
"which's":"which is",
"which've":"which have",
"who'd":"who would",
"who'd've":"who would have",
"who'll":"who will",
"who're":"who are",
"who's":"who is",
"who've":"who have",
"why'd":"why did",
"why're":"why are",
"why's":"why is",
"won't":"will not",
"would've":"would have",
"wouldn't":"would not",
"wouldn't've":"would not have",
"y'at":"you at",
"yesâ€™m":"yes madam",
"you'd":"you would",
"you'll":"you will",
"you're":"you are",
"you've":"you have"}

In [10]:
def cont_to_exp(x):
    if type(x) is str:
        x = x.replace('\\','')
        for key in contractions:
            value = contractions[key]
            x = x.replace(key, value)
        return x
    else:
        return x

In [11]:
punctuation = {".":"", ",":"", "'":"", "?":"", "!":"", ":":"", ";":"", "-":"", "_":"", "(":"", ")":"", 
       }

In [12]:
def remove_punctuation(x):
    if type(x) is str:
        for key in punctuation:
            value = punctuation[key]
            x = x.replace(key, value)
        return x
    else:
        return x

In [13]:
def remove_special_chars(text):
    special_chars = '''!()-[]{};:'"\,<>./?@#$%^&*_~'''
    if type(text) is str:
        for p in special_chars:
            text = text.replace(p, '')
        return text
    else:
        return text

In [14]:
df1["Review Text"] = df1["Review Text"].apply(lambda x:cont_to_exp(x))
df1["Review Text"]= df1["Review Text"].str.lower()
df1["Review Text"] = df1["Review Text"].apply(lambda x:remove_punctuation(x))
df1['Review Text'] = df1['Review Text'].apply(lambda x:remove_special_chars(x))
df1

<ipython-input-14-7b6c3526beff>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Review Text"] = df1["Review Text"].apply(lambda x:cont_to_exp(x))
<ipython-input-14-7b6c3526beff>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Review Text"]= df1["Review Text"].str.lower()
<ipython-input-14-7b6c3526beff>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1["Review Text"] = df1["Review Text"].apply(lambda x:remove_punctuation(x))
<ipython-input-14-7b6c3526beff>:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['Review Text'] = df1['Review Text'].apply(lambda x:remove_special_chars(x))

,Clothing ID,Age,Title,Review Text,Rating,Positive Feedback Count,Division Name,Department Name,Category,Recommended IND
2,1077,60,Some major design flaws,i had such high hopes for this dress and reall...,3,0,General,Dresses,Dresses,0
3,1049,50,My favorite buy!,i love love love this jumpsuit it is fun flirt...,5,0,General Petite,Bottoms,Pants,1
5,1080,49,Not for the very petite,i love tracy reese dresses but this one is not...,2,4,General,Dresses,Dresses,0
6,858,39,Cagrcoal shimmer fun,i aded this in my basket at hte last mintue to...,5,1,General Petite,Tops,Knits,1
7,858,39,"Shimmer, surprisingly goes with lots",i ordered this in carbon for store pick up and...,4,4,General Petite,Tops,Knits,1
...,...,...,...,...,...,...,...,...,...,...
23481,1104,34,Great dress for many occasions,i was very happy to snag this dress at such a ...,5,0,General Petite,Dresses,Dresses,1
23482,862,48,Wish it was made of cotton,it reminds me of maternity clothes soft stretc...,3,0,General Petite,Tops,Knits,1
23483,1104,31,"Cute, but see through",this fit well but the top was very see through...,3,1,General Petite,Dresses,Dresses,0
23484,1084,28,"Very cute dress, perfect for summer parties an...",i bought this dress for a wedding i have this ...,3,2,General,Dresses,Dresses,1
23485,1104,52,Please make more like this one!,this dress in a lovely platinum is feminine an...,5,22,General Petite,Dresses,Dresses,1

### Q6] Independent & Dependent variables, 80-20 split

In [15]:
from textblob import TextBlob
df1['polarity_title'] = df1['Title'].apply(lambda x: TextBlob(x).sentiment.polarity)
df1['polarity_review'] = df1['Review Text'].apply(lambda x: TextBlob(x).sentiment.polarity)

<ipython-input-15-6514eb8472d5>:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['polarity_title'] = df1['Title'].apply(lambda x: TextBlob(x).sentiment.polarity)
<ipython-input-15-6514eb8472d5>:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df1['polarity_review'] = df1['Review Text'].apply(lambda x: TextBlob(x).sentiment.polarity)

In [18]:
df1 = df1.drop(columns=['Clothing ID', 'Review Text', 'Title', 'Department Name', 'Division Name', 'Category'])

In [20]:
x = df1.drop(columns=['Recommended IND'])

y = df1['Recommended IND']

from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2)

In [21]:
numerical_cols = [cname for cname in x.columns if x[cname].dtype in ['int64', 'float64']]
categorical_cols = [cname for cname in x.columns if x[cname].dtype == 'object']

In [22]:
from sklearn.pipeline import Pipeline
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import RobustScaler
from sklearn.preprocessing import OneHotEncoder
from sklearn.feature_extraction.text import CountVectorizer

# scaling 
numerical_transformer = Pipeline(steps = [
    ('scaler', RobustScaler())
])

# one-hot encoding
categorical_transformer = Pipeline(steps=[
    ('vectorizer', CountVectorizer(stop_words='english', ngram_range=(1,2), max_features=10)),
    ('onehot', OneHotEncoder(handle_unknown='ignore'))
])

# bundle preprocessing
preprocessor = ColumnTransformer(
    transformers=[
        ('num', numerical_transformer, numerical_cols),
        ('cat', categorical_transformer, categorical_cols),
      ])

### Q7] NaÃ¯ve Bayes Classification Algorithm on Sentiment category

In [23]:
from sklearn.naive_bayes import GaussianNB
model = GaussianNB()

In [24]:
pipe = Pipeline(steps=[('preprocessor', preprocessor), 
                              ('model', model)])

In [25]:
pipe.fit(x_train, y_train)

Pipeline(steps=[('preprocessor',
                 ColumnTransformer(transformers=[('num',
                                                  Pipeline(steps=[('scaler',
                                                                   RobustScaler())]),
                                                  ['Age', 'Rating',
                                                   'Positive Feedback Count',
                                                   'polarity_title',
                                                   'polarity_review']),
                                                 ('cat',
                                                  Pipeline(steps=[('vectorizer',
                                                                   CountVectorizer(max_features=10,
                                                                                   ngram_range=(1,
                                                                                                2),
                                                                                   stop_words='english')),
                                                                  ('onehot',
                                                                   OneHotEncoder(handle_unknown='ignore'))]),
                                                  [])])),
                ('model', GaussianNB())])

In [26]:
pipe.score(x_test, y_test)

0.9320836729149687

In [27]:
y_pred = pipe.predict(x_test)
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[ 574,   70],
       [ 180, 2857]], dtype=int64)

### Q8] Tabulate Accuracy

In [28]:
tn = cm[0,0]
fp = cm[0,1]
fn = cm[1,0]
tp = cm[1,1]

precision = tp/(tp+fp)
recall = tp/(tp+fn)
f1  = 2*(precision*recall/(precision+recall))

metric = ['Precision', 'Recall', 'F1 score']
value = [precision, recall, f1]
d = {'Accuracy Metrics': metric, 'Values': value}
df3 = pd.DataFrame(data=d)

In [29]:
df3

  Accuracy Metrics    Values
0        Precision  0.976085
1           Recall  0.940731
2         F1 score  0.958082

In [30]:
pipe.score(x_test, y_test)

0.9320836729149687